@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');


*{margin: 0;}
.container{
  width: 100%;
  display: flex;
}

.row1{
  width: 50%;
}
.row2{ 
  width: 50%;
  margin-left: 85px;
  margin-top: 64px;
  margin-bottom: 45px;
  margin-right: 85px;
  display: flex;
  flex-direction: column; 
}

.text1{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 71px;
}

.inputLogin{
  width: 100%;
  height: 79px;
  background: rgba(218, 218, 218, 0.28);
  border: 0.5px solid rgba(78, 78, 78, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  padding-left: 40px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 33px;
}
.button1{
  width: 100%;
  height: 79px;
  margin-top: 28px;
  margin-bottom: 24px ;
  padding: 23px  23px ;
  background: #FFCD61;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
  border-radius: 10px;
  font-family: 'Nunito Sans' ;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
}
.wrap1{
  display: flex;
  flex-direction: row;
}
.line1{
  width: 114px;
  height: 1px;
  margin-top: 40px;
  background-color: #4E4E4E;
}
.text3{
  margin-top: 27px;
  margin-left: 27px;
  margin-right: 27px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: rgba(57, 57, 57, 0.5);
}
.line2{
  width: 114px;
  height: 1px;
  margin-top: 40px;
  background-color: #4E4E4E;
}
.button2{
  width: 100%;
  height: 79px;
  margin-top: 34px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(78, 78, 78, 0.4);
  border-radius: 10px;
}
.wrap-google{
  display: flex;
  flex-direction: row;
}
.img-btn{
  width: 34px;
  height: 33px;
  margin-left: 20%;
  margin-right: 13px;
  margin-top: 23px;
  margin-bottom: 23px;
}
.text4{
  margin-bottom: 23px;
  margin-top: 23px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.button3{
  width: 100%;
  height: 56px;
  margin-top: 34px;
  background: #393939;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
  border-radius: 10px;
  color: #FFCD61 ;
  font-family: 'Nunito Sans' ;
  font-style: normal; 
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 23px;
  text-decoration: none;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}
.logo{
  width: 45px;
  height: 45px;
  margin-top: 84px;
  background-color: #393939;
  border-radius: 30px;
}
.circle2{
  width: 25px;
  height: 25px;
  margin-top: 10px;
  padding-top: 1px;
  margin-left: 10px;
  background-color: white;
  border-radius: 30px; 
}
.circle3{
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 5px;
  background-color: #FFCD61;
  border-radius: 10px;   
}
.text5{
  margin-top: 27px;
  margin-bottom: 53px;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #848484;
}
.line3{
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: #4E4E4E;
}
.social-media{
  display: flex;
  padding-left: 55px;
}

i{
  width: 26px;
  height: 20px;
  margin-left: 35px;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .row1 {
    display: none;
  }
  .row2{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .wrap1{
    width: 100%;
  }
  .text3{
    width: 100%;
    font-size: 20px;
  }
  .img-btn{
    margin-left: 35px;
  }
  .social-media{
    padding-left: 5px;
  }
}